## Cleaning the Dataset

### Loading the required packages

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os
import glob
from pandas import DataFrame
from IPython.display import HTML
%matplotlib inline

### Combining LendingClub's separate excel spreadsheets

In [ ]:
def concatenate (indir = "/Users/dennisvasquez/Downloads/lc_data_files", 
                outfile = "/Users/dennisvasquez/Downloads/lc_data_files/newfile.csv"):
    os.chdir(indir)
    fileList = glob.glob("*.csv")
    dfList = []
    for filename in fileList:
        print(filename)
        df = pd.read_csv(filename,header=0, low_memory=False)
        dfList.append(df)
    concatDf = pd.concat(dfList, axis=0)
    concatDf.to_csv(outfile, index=None)

In [ ]:
%%time

concatenate();

### Loading the dataset with select columns

In [2]:
%%time

lend = pd.read_csv('/Users/dennisvasquez/Downloads/lc_data_files/newfile.csv',
usecols = [
'loan_amnt',
'grade', # lending club loan grade
'int_rate',
'home_ownership',
'annual_inc',
'loan_status',
'dti',
'delinq_2yrs', # 30dpd delinquencies from past 2 years
'inq_last_6mths', # inquiries since past 6 months
'open_acc', # number of open credit lines on file
'pub_rec', # number of derogatory public records
'revol_bal',
'revol_util',
'total_acc', # total number of credit lines currently on file
'last_credit_pull_d', # recent month lendinclub pulled credit
'collections_12_mths_ex_med', # number of collections in 12 months excluding medical collections
'acc_now_delinq',
'tot_cur_bal',
'total_rev_hi_lim',
'acc_open_past_24mths',
'avg_cur_bal',
'bc_open_to_buy', # total open-to-buy on revolving bankcards
'bc_util', # ratio of current balance to credit limit for all bankcard accounts
'chargeoff_within_12_mths',
'delinq_amnt',
'mo_sin_old_il_acct', # months since oldest installment account was opened
'mo_sin_old_rev_tl_op',
'mo_sin_rcnt_rev_tl_op',
'mo_sin_rcnt_tl', # months since most recent account was opened
'mort_acc', # number of mortgage accounts
'mths_since_recent_bc', # months since recent bankcard account was opened
'mths_since_recent_inq',
'num_accts_ever_120_pd',
'num_actv_bc_tl',
'num_actv_rev_tl',
'num_bc_sats', # number of satisfactory bankcard accounts
'num_bc_tl', # number of bankcard accounts
'num_il_tl',
'num_op_rev_tl',
'num_rev_accts',
'num_rev_tl_bal_gt_0', # number of revolving trades with balance >0
'num_sats',
'num_tl_120dpd_2m', # number of accounts currently 120 dpd
'num_tl_30dpd',
'num_tl_90g_dpd_24m',
'num_tl_op_past_12m',
'pct_tl_nvr_dlq', # percent of trades never delinquent
'percent_bc_gt_75', # percent of all bankcard accounts >75%
'pub_rec_bankruptcies',
'tax_liens',
'tot_hi_cred_lim',
'total_bal_ex_mort',
'total_bc_limit',
'total_il_high_credit_limit'
], low_memory=True)

CPU times: user 21.1 s, sys: 3.71 s, total: 24.8 s
Wall time: 26.3 s

### Viewing a sample of the dataset and features

In [3]:
lend.sample(5)

,loan_amnt,int_rate,grade,home_ownership,annual_inc,loan_status,dti,delinq_2yrs,inq_last_6mths,open_acc,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
647549,20000,10.99%,B,MORTGAGE,65000.0,Fully Paid,19.11,0,0.0,13,...,0.0,5.0,88.5,25.0,0.0,0.0,273023.0,52068.0,16300.0,52323.0
531411,23000,7.89%,A,OWN,90000.0,Fully Paid,10.93,2,0.0,14,...,1.0,4.0,90.9,16.7,0.0,0.0,370242.0,20753.0,35200.0,20742.0
427849,4000,12.49%,B,MORTGAGE,114600.0,Fully Paid,12.56,0,5.0,15,...,0.0,5.0,84.6,0.0,0.0,0.0,90653.0,41580.0,18800.0,65246.0
1136555,15000,12.79%,C,RENT,75000.0,Current,19.04,0,1.0,13,...,0.0,2.0,100.0,60.0,1.0,0.0,50580.0,37344.0,19300.0,30480.0
537338,35000,12.05%,C,MORTGAGE,122000.0,Current,27.99,0,0.0,13,...,0.0,0.0,100.0,100.0,0.0,0.0,300203.0,119623.0,28600.0,123393.0

### Number of dataset rows and features

In [4]:
# 1,319,098 files with 54 features
lend.shape

(1319098, 54)

In [5]:
# Name and datatypes of columns
lend.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1319098 entries, 0 to 1319097
Data columns (total 54 columns):
loan_amnt                     1319098 non-null int64
int_rate                      1319098 non-null object
grade                         1319098 non-null object
home_ownership                1319098 non-null object
annual_inc                    1319098 non-null float64
loan_status                   1319098 non-null object
dti                           1319098 non-null float64
delinq_2yrs                   1319098 non-null int64
inq_last_6mths                1319097 non-null float64
open_acc                      1319098 non-null int64
pub_rec                       1319098 non-null int64
revol_bal                     1319098 non-null int64
revol_util                    1318372 non-null object
total_acc                     1319098 non-null int64
last_credit_pull_d            1319026 non-null object
collections_12_mths_ex_med    1319042 non-null float64
acc_now_delinq                1319098 non-null int64
tot_cur_bal                   1251571 non-null float64
total_rev_hi_lim              1251571 non-null float64
acc_open_past_24mths          1271817 non-null float64
avg_cur_bal                   1251559 non-null float64
bc_open_to_buy                1259244 non-null float64
bc_util                       1258527 non-null float64
chargeoff_within_12_mths      1319042 non-null float64
delinq_amnt                   1319098 non-null int64
mo_sin_old_il_acct            1214312 non-null float64
mo_sin_old_rev_tl_op          1251570 non-null float64
mo_sin_rcnt_rev_tl_op         1251570 non-null float64
mo_sin_rcnt_tl                1251571 non-null float64
mort_acc                      1271817 non-null float64
mths_since_recent_bc          1260066 non-null float64
mths_since_recent_inq         1139670 non-null float64
num_accts_ever_120_pd         1251571 non-null float64
num_actv_bc_tl                1251571 non-null float64
num_actv_rev_tl               1251571 non-null float64
num_bc_sats                   1263257 non-null float64
num_bc_tl                     1251571 non-null float64
num_il_tl                     1251571 non-null float64
num_op_rev_tl                 1251571 non-null float64
num_rev_accts                 1251570 non-null float64
num_rev_tl_bal_gt_0           1251571 non-null float64
num_sats                      1263257 non-null float64
num_tl_120dpd_2m              1202848 non-null float64
num_tl_30dpd                  1251571 non-null float64
num_tl_90g_dpd_24m            1251571 non-null float64
num_tl_op_past_12m            1251571 non-null float64
pct_tl_nvr_dlq                1251418 non-null float64
percent_bc_gt_75              1258823 non-null float64
pub_rec_bankruptcies          1318401 non-null float64
tax_liens                     1319059 non-null float64
tot_hi_cred_lim               1251571 non-null float64
total_bal_ex_mort             1271817 non-null float64
total_bc_limit                1271817 non-null float64
total_il_high_credit_limit    1251571 non-null float64
dtypes: float64(40), int64(8), object(6)
memory usage: 543.5+ MB

In [6]:
# identifying and erasing any duplicate files
lend.duplicated().value_counts()

False    1319097
True           1
dtype: int64

In [7]:
lend.drop_duplicates();

### Number of NaN values in each column

In [8]:
# List of empty data within columns
lend.isnull().sum()

loan_amnt                          0
int_rate                           0
grade                              0
home_ownership                     0
annual_inc                         0
loan_status                        0
dti                                0
delinq_2yrs                        0
inq_last_6mths                     1
open_acc                           0
pub_rec                            0
revol_bal                          0
revol_util                       726
total_acc                          0
last_credit_pull_d                72
collections_12_mths_ex_med        56
acc_now_delinq                     0
tot_cur_bal                    67527
total_rev_hi_lim               67527
acc_open_past_24mths           47281
avg_cur_bal                    67539
bc_open_to_buy                 59854
bc_util                        60571
chargeoff_within_12_mths          56
delinq_amnt                        0
mo_sin_old_il_acct            104786
mo_sin_old_rev_tl_op           67528
mo_sin_rcnt_rev_tl_op          67528
mo_sin_rcnt_tl                 67527
mort_acc                       47281
mths_since_recent_bc           59032
mths_since_recent_inq         179428
num_accts_ever_120_pd          67527
num_actv_bc_tl                 67527
num_actv_rev_tl                67527
num_bc_sats                    55841
num_bc_tl                      67527
num_il_tl                      67527
num_op_rev_tl                  67527
num_rev_accts                  67528
num_rev_tl_bal_gt_0            67527
num_sats                       55841
num_tl_120dpd_2m              116250
num_tl_30dpd                   67527
num_tl_90g_dpd_24m             67527
num_tl_op_past_12m             67527
pct_tl_nvr_dlq                 67680
percent_bc_gt_75               60275
pub_rec_bankruptcies             697
tax_liens                         39
tot_hi_cred_lim                67527
total_bal_ex_mort              47281
total_bc_limit                 47281
total_il_high_credit_limit     67527
dtype: int64

### Clearing all NaN values from columns above

In [9]:
lend = lend[pd.notnull(lend.tot_cur_bal)]

In [10]:
lend = lend[pd.notnull(lend.mo_sin_old_il_acct)]

In [11]:
lend = lend[pd.notnull(lend.mths_since_recent_inq)]

In [12]:
lend = lend[pd.notnull(lend.num_tl_120dpd_2m)]

In [13]:
lend = lend[pd.notnull(lend.bc_util)]

In [14]:
lend = lend[pd.notnull(lend.pct_tl_nvr_dlq)]

In [15]:
lend = lend[pd.notnull(lend.last_credit_pull_d)]

In [16]:
lend = lend[pd.notnull(lend.mths_since_recent_bc)]

In [17]:
lend = lend[pd.notnull(lend.num_rev_accts)]

In [18]:
lend = lend[pd.notnull(lend.inq_last_6mths)]

In [19]:
lend.isnull().any()

loan_amnt                     False
int_rate                      False
grade                         False
home_ownership                False
annual_inc                    False
loan_status                   False
dti                           False
delinq_2yrs                   False
inq_last_6mths                False
open_acc                      False
pub_rec                       False
revol_bal                     False
revol_util                    False
total_acc                     False
last_credit_pull_d            False
collections_12_mths_ex_med    False
acc_now_delinq                False
tot_cur_bal                   False
total_rev_hi_lim              False
acc_open_past_24mths          False
avg_cur_bal                   False
bc_open_to_buy                False
bc_util                       False
chargeoff_within_12_mths      False
delinq_amnt                   False
mo_sin_old_il_acct            False
mo_sin_old_rev_tl_op          False
mo_sin_rcnt_rev_tl_op         False
mo_sin_rcnt_tl                False
mort_acc                      False
mths_since_recent_bc          False
mths_since_recent_inq         False
num_accts_ever_120_pd         False
num_actv_bc_tl                False
num_actv_rev_tl               False
num_bc_sats                   False
num_bc_tl                     False
num_il_tl                     False
num_op_rev_tl                 False
num_rev_accts                 False
num_rev_tl_bal_gt_0           False
num_sats                      False
num_tl_120dpd_2m              False
num_tl_30dpd                  False
num_tl_90g_dpd_24m            False
num_tl_op_past_12m            False
pct_tl_nvr_dlq                False
percent_bc_gt_75              False
pub_rec_bankruptcies          False
tax_liens                     False
tot_hi_cred_lim               False
total_bal_ex_mort             False
total_bc_limit                False
total_il_high_credit_limit    False
dtype: bool

In [20]:
# Files has dropped due to the NaN files
lend.shape

(1034852, 54)

### Loan status categories

In [21]:
lend.loan_status.value_counts()

Current               618522
Fully Paid            305152
Charged Off            81593
Late (31-120 days)     16335
In Grace Period         9420
Late (16-30 days)       3369
Default                  461
Name: loan_status, dtype: int64

### Dropping all "Current" status loans since the outcome is unknown

In [22]:
lend = lend[lend.loan_status != 'Current']

In [23]:
# Note the drop in rows, by 58%
lend.shape

(416330, 54)

### Home ownership categories

In [24]:
lend.home_ownership.value_counts()

MORTGAGE    216731
RENT        158798
OWN          40733
OTHER           35
NONE            28
ANY              5
Name: home_ownership, dtype: int64

### Dropping "other", "none", and "any" categories and creating dummy variables of remaning variables

In [25]:
lend = lend[lend.home_ownership != 'OTHER']
lend = lend[lend.home_ownership != 'NONE']
lend = lend[lend.home_ownership != 'ANY']
lend_home = pd.get_dummies(lend['home_ownership'],prefix='home',drop_first=True)
lend = pd.concat([lend, lend_home], axis=1)
lend = lend.drop('home_ownership', axis=1)

### Converting the "Grade" status as an ordinal variable

In [26]:
lend['grade_ord'] = lend.grade.map({'A': 1,
                                    'B': 2,
                                    'C': 3,
                                    'D': 4,
                                    'E': 5,
                                    'F': 6,
                                    'G': 7})

lend = lend.drop('grade', axis=1)

### Cleaning the "revol_util", "dti", and "bc_util" columns and exluding erroneous values over 100%

In [27]:
lend.loc[:, 'revol_util'] = lend['revol_util'].str.split('%').apply(lambda x: x[0])
lend['revol_util'] = lend['revol_util'].astype(float)

In [28]:
lend = lend[lend['bc_util'] <= 100]
lend = lend[lend['dti'] <= 100]
lend = lend[lend['revol_util'] <= 100]

### Converting select columns into log values

In [29]:
lend.avg_cur_bal = lend.avg_cur_bal.replace('0', 1)
lend['log_avg_cur_bal'] = lend.avg_cur_bal.copy()
lend.log_avg_cur_bal = np.log(lend.avg_cur_bal)

lend.bc_open_to_buy = lend.bc_open_to_buy.replace('0', 1)
lend['log_bc_open_to_buy'] = lend.bc_open_to_buy.copy()
lend.log_bc_open_to_buy = np.log(lend.bc_open_to_buy)

lend.delinq_amnt = lend.delinq_amnt.replace('0', 1)
lend['log_delinq_amnt'] = lend.delinq_amnt.copy()
lend.log_delinq_amnt = np.log(lend.delinq_amnt)

lend.total_bal_ex_mort = lend.total_bal_ex_mort.replace('0', 1)
lend['log_total_bal_ex_mort'] = lend.total_bal_ex_mort.copy()
lend.log_total_bal_ex_mort = np.log(lend.total_bal_ex_mort)

lend.total_il_high_credit_limit = lend.total_il_high_credit_limit.replace('0', 1)
lend['log_total_il_high_credit_limit'] = lend.total_il_high_credit_limit.copy()
lend.log_total_il_high_credit_limit = np.log(lend.total_il_high_credit_limit)

lend.annual_inc = lend.annual_inc.replace('0', 1)
lend['log_annual_inc'] = lend.annual_inc.copy()
lend.log_annual_inc = np.log(lend.annual_inc)

lend.tot_cur_bal = lend.tot_cur_bal.replace('0', 1)
lend['log_tot_cur_bal'] = lend.tot_cur_bal.copy()
lend.log_tot_cur_bal = np.log(lend.tot_cur_bal)

lend.revol_bal = lend.revol_bal.replace('0', 1)
lend['log_revol_bal'] = lend.revol_bal.copy()
lend.log_revol_bal = np.log(lend.revol_bal)

lend.delinq_amnt = lend.delinq_amnt.replace('0', 1)
lend['log_delinq_amnt'] = lend.delinq_amnt.copy()
lend.log_delinq_amnt = np.log(lend.delinq_amnt)

lend['log_total_rev_hi_lim'] = lend.total_rev_hi_lim.copy()
lend.log_total_rev_hi_lim = np.log(lend.total_rev_hi_lim)

lend['tot_hi_cred_lim'] = lend.tot_hi_cred_lim.copy()
lend.log_tot_hi_cred_lim = np.log(lend.tot_hi_cred_lim)

lend['log_total_bc_limit'] = lend.total_bc_limit.copy()
lend.log_total_bc_limit = np.log(lend.total_bc_limit)

### Deleting outliers from select features

In [30]:
lend = lend[((lend.total_rev_hi_lim - lend.total_rev_hi_lim.mean()) / lend.total_rev_hi_lim.std()).abs() < 5]

In [31]:
lend = lend[((lend.tot_cur_bal - lend.tot_cur_bal.mean()) / lend.tot_cur_bal.std()).abs() < 6]

In [32]:
lend = lend[((lend.tot_hi_cred_lim - lend.tot_hi_cred_lim.mean()) / lend.tot_hi_cred_lim.std()).abs() < 6]

In [33]:
lend = lend[((lend.total_bc_limit - lend.total_bc_limit.mean()) / lend.total_bc_limit.std()).abs() < 6]

In [34]:
lend = lend[((lend.bc_open_to_buy - lend.bc_open_to_buy.mean()) / lend.bc_open_to_buy.std()).abs() < 6]

In [35]:
lend = lend[((lend.revol_bal - lend.revol_bal.mean()) / lend.revol_bal.std()).abs() < 6]

In [36]:
lend = lend[((lend.total_il_high_credit_limit - lend.total_il_high_credit_limit.mean()) / lend.total_il_high_credit_limit.std()).abs() < 6]

In [37]:
lend = lend[((lend.avg_cur_bal - lend.avg_cur_bal.mean()) / lend.avg_cur_bal.std()).abs() < 6]

In [38]:
lend = lend[((lend.annual_inc - lend.annual_inc.mean()) / lend.annual_inc.std()).abs() < 6]

### Assigning binary variables to loan status column, 0 = good performing and 1 = bad performing loans

In [39]:
lend['status_group'] = lend.loan_status.map({
    'Fully Paid': 0,
    'Charged Off': 1,
    'Late (31-120 days)': 1,
    'In Grace Period': 1,
    'Late (16-30 days)': 1,
    'Default': 1,})

lend = lend.drop('loan_status', axis=1)

### Finalized clean dataset

In [40]:
lend.sample(5)

,loan_amnt,int_rate,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,...,log_bc_open_to_buy,log_delinq_amnt,log_total_bal_ex_mort,log_total_il_high_credit_limit,log_annual_inc,log_tot_cur_bal,log_revol_bal,log_total_rev_hi_lim,log_total_bc_limit,status_group
58729,20000,7.90%,63648.0,12.68,2,0.0,18,0,17257,48.5,...,8.263848,0.0,10.416161,9.926813,11.061123,12.522728,9.755973,10.480101,9.928180,0
161324,20000,11.14%,68000.0,7.16,0,0.0,9,0,19866,51.2,...,8.714568,0.0,9.896765,0.000000,11.127263,11.860684,9.896765,10.566176,10.146434,0
279410,7475,13.98%,31000.0,23.07,0,0.0,15,0,13035,38.9,...,9.586377,0.0,10.103485,10.106551,10.341742,11.775674,9.475393,10.419301,10.225571,0
117673,10800,16.78%,61000.0,18.16,0,1.0,8,1,10311,63.3,...,5.613128,0.0,10.488158,10.548494,11.018629,10.488158,9.240967,9.698920,9.104980,0
108634,17625,7.90%,45000.0,5.89,1,0.0,5,0,12804,43.1,...,8.279951,0.0,9.457513,0.000000,10.714418,12.457846,9.457513,10.299172,9.180706,0

In [41]:
lend.shape

(400489, 65)

### Exporting cleaned dataset as a .csv file

In [ ]:
%%time
lend.to_csv('aug2018lend.csv')